@charset "UTF-8";
/* 사용자 정의 폰트 */
@font-face{font-family:'BMHANNAPro';src: url('/farm/css/font/BMHANNAPro.ttf');}
@font-face{font-family:'DXMgoRB';src: url('/farm/css/font/DXMgoRB-KSCpc-EUC-H.ttf');}
@font-face{font-family:'LAB디지털';src: url('/farm/css/font/LAB디지털.ttf');}
@font-face{font-family:'Typo_DecoSolidSlash';src: url('/farm/css/font/Typo_DecoSolidSlash.ttf');}
@font-face{font-family:'NanumSquare_acB';src: url('/farm/css/font/NanumSquare_acB.ttf');}

#productList .card {
	margin: 10px;
}

#contents {
	/* font-family: 'Jua', sans-serif; */
	/* font-family: 'Do Hyeon', sans-serif; */
	/* font-family: 'Noto Serif KR', serif; */
	/* font-family: 'Black Han Sans', sans-serif; */
	/* font-family: 'Gugi', cursive; */
	/* font-family: 'Dokdo', cursive; */
	/* font-family: 'Gaegu', cursive; */
	/* font-family: 'Yeon Sung', cursive; */
	/* font-family: 'Stylish', sans-serif; */
	/* font-family: 'Gamja Flower', cursive; */
	/* font-family: 'Kirang Haerang', cursive; */
	/* font-family: 'Noto Sans KR', sans-serif; */
	/* font-family: 'BMHANNAPro'; */
}
#productList{
	/* font-family: 'Do Hyeon', sans-serif; */
	font-family: 'BMHANNAPro';
}

#slideProduct img{
	height: 300px;

}
.wishList{
	width: 100px;
	color: antiquewhite;
	background-color: #fE6F5F !important; 
}

#wishListNav{
	overflow: hidden;
}
#contents{
	margin-top: 55px;
}

.memberEnroll{
	width:400px;
}
#zipCode{
	width:90px;
}
#zipcodeSearchBtn{
	font-size:12px;
}
/* 장바구니 모달 */
.modal-wish{
	display: block;
	position: fixed;
	z-index: 9000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 100px;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.modal-wish #product-price-format{
	color: rgb(65, 127, 209);
}
.modal-wish #product-name{
	font-family: 'BMHANNAPro';
}

.modal-wish #product-price-sum{
	color: rgb(65, 127, 209);
	font-family: 'Jua', sans-serif;
	font-size: 1.5em;
	text-align: right;
	width: 100%;
}

/* 구매 모달 */
.modal-order #product-price-format{
	color: rgb(65, 127, 209);
}
.modal-order #product-name{
	font-family: 'BMHANNAPro';
}

.modal-order #product-price-sum{
	color: rgb(65, 127, 209);
	font-family: 'Jua', sans-serif;
	font-size: 1.5em;
	text-align: right;
	width: 100%;
}
.modal-order{
	display: block;
	position: fixed;
	z-index: 9000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 100px;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

/* 상품 스타일 */
#productList .card-text{
	font-family: 'Jua', sans-serif;
	font-size: 1.2em;
	
}
#productList .sale-view{
	position: absolute;
	width: 65px;
	height: 65px;
	background: rgba(221, 160, 221, 0.85);
	z-index: 1;
	color: white;
	padding: 5px 10px 5px 10px;
	font-family: 'BMHANNAPro';
}
#productList .discount{
	color: rgb(146, 146, 146);
	text-decoration: line-through;
}
#productList .price{
	color: rgb(65, 127, 209);
}
#productList .card-title{
	font-size: 1.5em;
}
#productList .image{
	overflow: hidden;
}
#productList .card{
	cursor: pointer;
	overflow: hidden;
}
.ani-photo-in{
	animation: kenburns-top 0.5s ease-out both;
}
#productList .wishList{
	position: absolute;
	left: 16.4em;
	top: 17.2em;
	width: 45px;
	padding: 10px;
	opacity: 0.75;
	border-radius: 2em;
	background-color: darkcyan;
	z-index: 1;
}

.ani-vibrate{
	animation: vibrate-1 0.3s linear infinite both;
}

.ani-wishlist{
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* footer 스타일*/
footer{
	margin-top: 50px;
}

.col-sm{
	height:230px;
}


/* 우리색상 */
.main-color{
	color: #592F59 !important;
}
.sub-color{
	color: #fE6F5F !important;
}
.main-bg{
	background-color: #592F59 !important;
	color: white;
}
.sub-bg{
	background-color: #fE6F5F !important;
}
.btn-sub-bg{
	background-color: #fE6F5F !important;
	border-color: #fE6F5F !important;
}
.btn-main-bg{
	background-color: #592F59 !important;
	border-color: #592F59 !important;
}
/* 페이지 바 색상 */
.page-item.active .page-link{
	background-color: #592F59 !important;
	border-color: #592F59 !important;
	color: #fff !important;	
}
.page-link{
	color: #592F59 !important;
}

/*로그인 화면*/
.logincontainer{
	width:380px;
	height:296px;
}
#span1{
	font-size: 10px;
	color:blue;
}
.find-id-link{
	font-size: 10px;
}
.find-id-link#span1{
	font-size: 10px;
		color:blue;
}
.find-pw-link{
	font-size: 10px;
}
.login-btn{
	width:348px;
	padding: 0;
	height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.enroll-btn{
	width:348px;
	padding: 0;
	height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.col-b{
	font-size: 12px;
}
.col-a{
	padding-left: 112px;
}

/*아이디 찾기 화면*/
.find-id-container{
	width:380px;
	height:296px;
}
.find-id-btn{
	width:348px;
	padding: 0;
	height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}

/*비밀번호 찾기 화면*/
.pwd-update-container{
	width:380px;
	height:296px;
}

.pwd-find-btn{
	width:348px;
	padding: 0;
	height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}


/*비밀번호 변경화면*/
.user-img{
	width: 50px;
}
.comment-pwd{
	margin-top: 10px;
}

/* hr 실험용 */
.divide{
	border: 0;
	height: 3px;
	background: #592F59;
}
.divide-sm{
	border: 0;
	height: 1px;
	background: #592F59;
}
.divide-sub{
	border: 0;
	height: 1px;
	background: #fE6F5F;
}

/* 상품 상세보기 페이지 */
.btn-buy2{
    width: 150px;
    height: 54px;
    }
.btn-buy1{
    width: 304px;
    height: 54px;
}

.something-btn{
    float: right;
}

.goods-price-comment{
        margin: 0;
    }
.price-info{
    font-size: 25px;
}
.before-price{
    color: rgb(170, 170, 170);
    text-decoration:line-through
}
.btn-outline-info{
	color: #592F59 !important;
	border-color: #592F59 !important;
}
.btn-outline-info:hover{
	border-color: #fff !important;
	background-color: #592F59 !important;
	color: #fff !important;
}
.hover-main:hover{
	border-color: #fff !important;
	background-color: #592F59 !important;
	color: #fff !important;
}

/* 회원 정보 페이지 */
#search-memberId {
	display: none;
}
#search-memberName {
	display: inline-block;
}
#search-phone{
	display: none;
}
div#pageBar span.cPage{
	margin-right: 10px;
}

#search-container{
	font-family: 'BMHANNAPro';
}

/* 상품 정보 페이지  */
#search-container {
	margin: 0 0 10px 0;
	padding: 3px;
}

#search-pName {
	display: inline-block;
}
#search-Category {
	display: none;
}
/* 상품 등록 페이지*/
 form #tag{
 	width: 120px;
 }
 /* 상품 상세보기&수정 페이지(관리자) */
 #oldFileName{
    position: absolute; 
    z-index: 1; 
    background: white; 
    left: 10px; 
    width: 200px;
}